/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1E2e;
    background-alt: #27273dff;
    foreground:     #FFFFFFFF;
    selected:       #A6ADC8;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
